.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    border: 0 solid #fff;
    width: 80%;
    max-width: 600px;
    max-height: 80vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
}

.modal-scrollable-content {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
    max-height: calc(80vh - 110px); /* 减去头部和底部的高度 */
}
.modal-header {
    padding: 10px 16px;
    background-color: var(--primary-red);
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-body {
    padding: 0;
}
.modal-footer {
    padding: 10px 20px;
    background-color: #f1f1f1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.time-container {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

#party-status-label{
    color: var(--header-text-color, white);
}

.time-container .form-group {
    flex: 1;
    margin-bottom: 0;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.filter-title1{
    min-width: 80px;
}
/* 两列布局样式 */
.two-column-container {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.two-column-container .form-group {
    flex: 1;
    margin-bottom: 0;
}
input, textarea, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#task_type_filter {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 15px;
    outline: none;
    cursor: pointer;
    width: auto;
}
textarea {
    resize: vertical;
}
.btn-cancel, .btn-confirm {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.btn-cancel {
    background-color: #f44336;
    color: white;
}
.btn-confirm {
    background-color: #4CAF50;
    color: white;
}
.modal.show {
    display: flex;
    justify-content: center;
    align-items: center;
}